fastapi
uvicorn[standard]
pydantic
pydantic_settings
email-validator
python-multipart
python-dotenv
sqlalchemy[asyncio]
asyncpg
user-agents
structlog
slowapi
orjson
redis
passlib[argon2]
argon2-cffi
pyjwt 
cryptography
